<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ request.script_root }}/static/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ request.script_root }}/static/img/favicon.ico" type="image/x-icon">
    {% include "admin/link_css.html" %}
    {% include 'admin/head_script.html' %}
    <script type="text/javascript">
        var script_root = "{{ request.script_root }}";
    </script>
    {% block stylesheets %} {% endblock %}
</head>
<body>
    <div id="wrapper">
        {% include 'admin/nav.html' %}
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                {% include 'admin/nav_bar_header.html' %}
            </div>
            {% block content %}{% endblock %}
            {% include 'admin/footer.html' %}
        </div>
    </div>
</body>
{% include 'admin/foot_script.html' %}
{% block scripts %}{% endblock %}
</html>