
    <script src="{{ request.script_root }}/static/admin/js/jquery-2.1.1.js"></script>
    <script src="{{ request.script_root }}/static/admin/js/bootstrap.min.js"></script>
    <script src="{{ request.script_root }}/static/admin/js/base.js"></script>
    <script src="{{ request.script_root }}/static/admin/js/jquery.colorbox.js"></script>
    <script src="{{ request.script_root }}/static/admin//js/validator/jquery.validator.js"></script>
    <script src="{{ request.script_root }}/static/admin/js/validator/zh_CN.js"></script>
    <script src="{{ request.script_root }}/static/admin/js/datapicker/bootstrap-datepicker.js"></script>