<footer id="footer" class="footer">
   <div class="footer-inner">
    <div align="center">
  &copy;
  <span itemprop="copyrightYear">2014-2016      <a href="/" target="_blank" title="ysicing[YsiCing]自留地,运维笔记">Ops Notes</a> 版权所有.</span>
       已运行
<SCRIPT language=JavaScript>
var urodz= new Date("8/31/2014");
var now = new Date();
var ile = now.getTime() - urodz.getTime();
var dni = Math.floor(ile / (1000 * 60 * 60 * 24));
document.write(+dni)</script>天
     <br />
     <a href="http://flask.pocoo.org/docs/0.10/" target="_blank" title="Flask,一个神奇的框架">Flask</a> /
  <a href="https://github.com/ysicing/Goblog" target="_blank" title="本博使用的主题">GoBlog</a>
      /<a href="/lab/" target="_blank" title="实验室/折腾">Lab<a>/
     <a href="/admin/?user=sb" target="_blank" title="监控登录">Login</a>
 <br/><a href="http://www.miibeian.gov.cn" target="_blank" title="点击进行备案查询">吉ICP备15001686号</a>
     </div>
     </div>
  </footer>
<div class="back-to-top"></div>
