<header class="mod-head">
	<h1 class="mod-head__title"><a href="//ysicing.net">Ops Notes</a></h1>
	<div class="mod-head__logo">
		<a href="/">
			<img class="avatar" src="/static/img/avatar.jpg" alt="" width="26" height="26">
		</a>
	</div>
	<nav class="mod-head__nav">
        <ul id="menu-menu" class="mod-head__ul">
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-987">
                <a href="/">Home</a><span>·</span>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page ">
                <a href="/posts/">归档</a><span>·</span>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item  current_page_item ">
                <a href="/tags/all">标签</a><span>·</span>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page ">
                <a href="/links/">友链</a><span>·</span>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page ">
                <a href="/about/">关于</a><span>·</span>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page ">
                <a href="/guestbook/">留言</a><span>·</span>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page ">
                <a href="/lab/">折腾</a>
            </li>
        </ul>
    </nav>
</header>
