<h3>运维博客</h3>
    <section class="group-tags">
        <ul class="tag-box">     
			<li><a href="http://www.21yunwei.com" target="_blank">21运维</a></li>
			<li><a href="http://zhangge.net" target="_blank">张戈博客</a></li>
			<li><a href="http://www.shencan.net" target="_blank">灿哥的Blog</a></li>
			<li><a href="http://bbs.chinaunix.net" target="_blank">ChinaUnix</a></li>
			<li><a href="http://www.ttlsa.com" target="_blank">运维生存时间</a></li>
			<li><a href="https://www.unixhot.com" target="_blank">运维社区</a></li>
			<li><a href="http//www.iyunv.com" target="_blank">运维网</a></li>
			<li><a href="http://www.minunix.com" target="_blank">系统运维</a></li>
			<li><a href="http://bbs.linuxtone.org/forum.php" target="_blank">LinuxTone</a></li>
			<li><a href="http://www.osyunwei.com" target="_blank">系统运维</a></li>
			<li><a href="http://www.tiejiang.org" target="_blank">铁匠运维网</a></li>
			<li><a href="http://www.yunweipai.com" target="_blank">运维派</a></li>
			<li><a href="http://www.linuxeye.com" target="_blank">LinuxEye</a></li>
			<li><a href="http://huoding.com/" target="_blank">火丁笔记</a></li>
			<li><a href="http://liwei.life" target="_blank">穷佐罗的Linux书</a></li>
        </ul>
    </section>
<h3>运维微信号/微博/twitter/Github</h3>
	<section class="group-tags">
        <ul class="tag-box">
			<li><a href="#" target="_blank" title="微信号CSDNnews">CSDN</a></li>
			<li><a href="#" target="_blank" title="微信号yunweibang">运维帮</a></li>
			<li><a href="#" target="_blank" title="微信号magedu-Linux">马哥Linux运维</a></li>
			<li><a href="http://weibo.com/jobbole" target="_blank" title="weibo">伯乐在线官方微博</a></li>
			<li><a href="http://weibo.com/haoawesome" target="_blank" title="强烈推荐">好东西传送门</a></li>
		</ul>
	</section>
