{% extends "theme/base.html" %}
{% block title %}wiki{% endblock %}
{% block description %}YsBot WIKI 自动化存档{% endblock %}
{% block main %}
    <div id="container">
        <div class="content clearfix">
            <h3>Docker结界异常 - Error[3] Get Nothing</h3>
            <p>请联系@YsiCing{{ ysapi().get('ip') }}</p>
	    <h3>Labs - Get Demo</h3>
		<p>Nginx 实验Demo 本地虚拟机搭建<a href="http://linux.ysicing.net" target="_blank" title="支持HTTPS">传送门</a></p>
        </div>
         <footer id="footer" class="top-box clearfix">
        &copy; 2014-2016  | <a href="#" title="By YsiCng">YsiCing's Wiki</a> Powered by
        <a href="https://github.com/SerhoLiu/serholiu.com"> MiniAkio</a> && <a href="http://flask.pocoo.org/">Flask</a> .
        <a href="javascript:scroll(0,0)" class="to-top">TOP</a>
    </div>
{% endblock %}
