{% extends "admin/base.html" %}
{% block content %}
{% include "admin/posts/post_nav.html" %}
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5> Posts Lists <span class="label label-info pull-right">{{ mdpost() | length }}</span></h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="panel blank-panel">
                    <div class="panel-body">
                        <div class="tab-content">
                            <div id="tab-base" class="tab-pane active">
                                 {% for post in mdpost() %}
                                <div class="form-group"><strong>{{ post.title }}</strong></div>
                                <div class="hr-line-dashed"></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}