<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>500 ERR :( </title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}" type="image/x-icon">
    <meta name="description" content="{% block description %}500{% endblock %}" />
    <meta name="keywords" content="{% block keywords %}500{% endblock %}">
    <meta name="author" content="{% block author %}ysicing{% endblock %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link href="/static/css/css.css?family=Oxygen" rel="stylesheet" type="text/css">
    <style type="text/css">
        html,body {

}
#apDiv1 {
    position:absolute;
    width:99%;
    height:500px;
    z-index:1;
    text-align:center;
	background-position:50% 0;
	margin:60px 0 0 0;
	padding-top:60px;
}
.text { font-family: 'Oxygen', sans-serif; font-size:34px; color:#131414; padding:100px 0 0 0;}
        a {
            text-decoration: none;
        }
    </style>
</head>
<body id="ibody">
    <div id="apDiv1">
    <div class="text">
        Oops, 请联系管理员(@ysicing). <br />
        <a href="/posts/" title="posts" target="_blank">Posts</a> | <a href="/" title="index">Home</a>
    </div>
    </div>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/r.min.js"></script>
<script type="text/javascript" src="/static/js/z-t.js"></script>
</body>
</html>